body{ background-color: #1cbb9b;}
.card-content{

}
.button-content{
}
.container{text-align: center;}
.card{
  display: inline-block;
  margin: auto;
  margin-top: 20px;
}
#USER_PHOTO{
  width: 150px;
  height: auto;
}
.card-action{
  display:inline-block;
}

#login-text{
  font-size: 48px;
  color: white;
  margin-top: 50px;
} 

ol{
  list-style: none;
  padding-left: 0;
}
