body{ background-color: #1cbb9b;}
.card-content{

}
.button-content{
}
.container{text-align: center;}
.card{
  display: inline-block;
  margin: auto;
  margin-top: 50px;
}
#USER_PHOTO{
  width: 150px;
  height: auto;
}

ol{
  list-style: none;
  padding-left: 0;
}
